{
  "env": {
    "browser": true,
    "es2022": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:storybook/recommended",
    "prettier"
  ],
  "ignorePatterns": ["/*", "!/src"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "linebreak-style": ["error", "unix"],
    "no-param-reassign": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}